assets
btop
chromium
dconf
gh
go
gtk-3.0
gtk-4.0
menus
mimeapps.list
nautilus
nwg-look
pulse
R
rstudio
sublime-text/Backup
sublime-text/Lib
sublime-text/Local
sublime-text/Log
sublime-text/Trash
sublime-merge
Thunar
user-dirs.dirs
user-dirs.locale
VSCodium
xfce4
yay
xsettingsd