window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
    // opacity 0.95
    // background-effect {
    //     xray false
    //     blur true
    //     noise 0
    //     saturation 1
    // }
    // popups {
    //     // opacity 0.75
    //     geometry-corner-radius 0

    //     background-effect {
    //         // xray true
    //         blur true
    //         noise 0.05
    //         saturation 3
    //     }
    // }
}

window-rule {
    match app-id="nemo"

    open-floating true
    open-maximized false
    open-focused true

    default-column-width { fixed 700; }
    default-window-height { fixed 500; }
}

window-rule {
    match app-id="rIDE"

    background-effect {
        xray true
        blur true
        noise 0.03
        saturation 1
    }
}

window-rule {
    match app-id="nwg-look"

    open-floating true
    open-maximized false
    open-focused true

    default-column-width { fixed 600; }
    default-window-height { fixed 500; }
}

window-rule {
    match app-id="foot"

    open-floating true
    open-maximized false
    open-focused true

    default-column-width { fixed 700; }
    default-window-height { fixed 500; }
}

window-rule {
    match app-id="blueman-manager"

    open-floating true
    open-maximized false
    open-focused true

    default-column-width { fixed 500; }
    default-window-height { fixed 500; }
}


window-rule {

    match app-id=r"[Cc]hromium" title="Save File"
    match app-id=r"[Gg]oogle-[Cc]hrome" title="[Oo]pen [Ff]iles"

    match app-id="xdg-desktop-portal-gtk" title="Open Folder"
    match app-id="codium" title="Open Folder"
    match app-id="codium" title="Open File"
    match app-id=r"sublime_text" title="Select Folder"

    open-floating true
    open-maximized false

    default-column-width { fixed 700; }
    default-window-height { fixed 500; }
}

window-rule {
    match app-id="linux_colorpicker.py"

    open-floating true
    open-maximized false

    default-column-width { fixed 400; }
    default-window-height { fixed 200; }
}

window-rule {
    match app-id="localsend"
    open-floating true
    open-maximized false

    default-column-width { fixed 500; }
    default-window-height { fixed 600; }
}

window-rule {
    match app-id="org.pulseaudio.pavucontrol"
    open-floating true
    open-maximized false

    default-column-width { fixed 700; }
    default-window-height { fixed 400; }
}
