* {
  all: unset;
  font-family: "Droid Sans", "Ubuntu Nerd Font Propo";
  font-weight: 900;
}

@import "colors.css";

#waybar .modules-center {
  color: @fg;
  background: @window-bg;

  padding: 0px 30px 0px 30px;
  border-radius: 0px 0px 15px 15px;
}

tooltip {
  color: floralwhite;
  background: @window-bg;

  border-radius: 5px;
}

tooltip > box {
  padding: 0px 10px;
}

menu {
  color: floralwhite;
  background: @window-bg;

  padding: 4px;
  border-radius: 5px;
}
menuitem {
  background: @menuitem;

  margin: 2px 0px;
  padding: 3px 5px;
  border-radius: 2px;
}

menuitem:hover { color: @window-bg; background: @menuitem-hover; }


#workspaces,
#network,
#wireplumber.sink,
#battery {
  margin: 2px 0.5px 3px 4px;
  padding: 0px 10px 0px 10px;
  border-radius: 3px 0px 0px 3px;
}

#taskbar,
#bluetooth,
#wireplumber.source,
#memory {
  margin: 2px 4px 3px 0.5px;
  padding: 0px 10px 0px 10px;
  border-radius: 0px 3px 3px 0px;
}

#backlight {
  margin: 2px 0.5px 3px 0.5px;
  padding: 0px 10px 0px 10px;
  border-radius: 0px;
}

#idle_inhibitor,
#clock,
#custom-session {
  margin: 2px 4px 3px 4px;
  padding: 0px 10px;
  border-radius: 3px;
}

#clock {background: @clock}

#network.ethernet { background: @net-ethernet; }
#network.wifi { background: @net-wifi; }
#network.linked { background: @net-linked; }
#network.disconnected { background: @net-disconnected; }
#network.disabled { background: @net-disabled; }

#bluetooth.on { background: @blue-on; }
#bluetooth.connected { background: @blue-connected; }
#bluetooth.connected.battery { background: @blue-connected; }
#bluetooth.off { background: @blue-off; }
#bluetooth.disabled { background: @blue-disabled; }

#battery.discharging { background: @bat-discharging; }
#battery.discharging.warning { background: @bat-warning; }
#battery.discharging.critical { background: @bat-critical; }
#battery.charging { background: @bat-plugged; }
#battery.plugged { background: @bat-plugged; }
#battery.full.charging { background: @bat-plugged; }
#battery.full:not(.charging) { background: @bat-full; }

#taskbar { background: @taskbar; }
#taskbar button.active {
  color: @task-active; background: @window-bg;
  padding: 0px 8px; margin: 0px 4px;
  transition: all 100ms ease-in-out;
}
#taskbar button:not(.active) {
  color: @task-inactive;
  padding: 0px 4px; transition: all 100ms ease-in-out;
}

#workspaces { background: @workspace; font-size: 0; }
#workspaces button.active label,
#workspaces button.focused label {
  background: @workspace-active;
  margin: 3px 3px;
  padding: 0px 10px;
  border-radius: 20px;
  transition: all 100ms ease-in-out;
}
#workspaces button:not(.focused) label,
#workspaces button.empty:not(.focused) label {
  background: @workspace-inactive;
  margin: 4px 1px;
  padding: 0px 5px;
  border-radius: 20px;
  transition: all 100ms ease-in-out;
}

#wireplumber.sink { background: @audio-sink; }
#wireplumber.sink.muted { background: @audio-muted; }
#wireplumber.source { background: @audio-source; }
#wireplumber.source.muted { background: @audio-muted; }

#backlight { background: @backlight; }

#memory { background: @mem; }
#memory.warning { background: @mem-warning; }
#memory.critical { background: @mem-critical; }

#idle_inhibitor.activated { background: @idle-on; }
#idle_inhibitor.deactivated { background: @idle-off; }

#custom-session { background: @session }